.DS_Store
# Ignore downloaded raw datasets
data/raw/

# Ignore large geospatial / raster files
*.tif
*.tiff
*.nc
*.h5
*.zip

# Jupyter checkpoints
.ipynb_checkpoints/
code/cache/
code/.ipynb_checkpoints/